{% extends 'RzAdminBundle:CRUD:list.html.twig' %}

{% block list_table %}
	{% if not app.request.get('hide_collection') %}
		<div class="col-xs-12 col-sm-12 col-md-4">
			<div class="box box-widget widget-user-2">
				<div class="widget-user-header bg-aqua-active">
					<div class="widget-user-image">
						<img class="img-circle" src="{{ asset('bundles/rzmedia/images/media-category-placeholder.png') }}" alt="User Avatar">
					</div>
					<h3 class="widget-user-username"> {{ admin.trans('media_collection_menu_header', {}, admin.translationdomain) }}</h3>
					<h5 class="widget-user-desc"> {{ admin.trans('media_collection_menu_header_description', {}, admin.translationdomain) }}</h5>
				</div>
				<div class="box-body">
					<ul class="nav nav-stacked">

						{% for collection in collections %}
							{% if current_collection and collection.slug == current_collection.slug %}
								<li><a class="text-uppercase" href="{{ admin.generateUrl('list', { 'collection': collection.slug }) }}">{{ collection.name }}<span class="pull-right badge bg-blue"><i class="fa fa-fw fa-check-circle-o"></i></span></a></li>
							{% else %}
								<li><a class="text-uppercase" href="{{ admin.generateUrl('list', { 'collection': collection.slug }) }}">{{ collection.name }}</a></li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	{% endif %}
	{% if not app.request.get('hide_collection') %}
		<div class="col-xs-12 col-sm-12 col-md-8 rz-col">
	{% endif %}
	{% block list_inner_table %}
		{{ parent() }}
	{% endblock list_inner_table %}
	{% if not app.request.get('hide_collection') %}
		</div>
	{% endif %}
{% endblock %}