{% if medias.results|length > 0 %}
    {% set json_result = '[{}]' %}
    {% for media in medias.results %}

        {% set json_result = '[{}]' %}
        <li class="clearfix">
            <section class="left">
                <img  class="rmzamora-mercury-img thumb" alt="{{ media.id }}" src="{% path media.getId(), 'small' %}" id="rmzamora-mercury-{{ media.id }}" data-snippet='{% media media, "big" %}'>
                <h3>{{ media.name }}</h3>
                <span class="meta">size: {{ media.size }}<br>width: {{ media.width }} height: {{ media.height }}</span>
    {% endfor %}
