{% extends 'RzAdminBundle:CRUD:base_list_masonry.html.twig' %}


{% block actions %}{% endblock %}
{% block preview %}{% endblock %}
{% block list_filters_standard %}{% endblock list_filters_standard %}

{% block list_table_standard %}
    {{ block('media_provider_selector') }}
    <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
                <i class="icon-film"></i>
                {# TODO: set on configuration #}
            </h3>
            <ul class="tabs">
                <li class="active">
                    <a href="#data" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-list-ul"></i></a>
                </li>
                <li>
                    <a href="#filter" class="filter admin-ajax-ignore-tabbable" data-toggle="tab"><i class="icon-search"></i></a>
                </li>
            </ul>
        </div>
        <div class="box-content nopadding">
            {% set batchactions = admin.batchactions %}
            <div class="tab-content nopadding tab-content-inline tab-content-bottom">
                <div class="tab-pane active" id="data">
                    {{ parent() }}
                </div>
                <div class="tab-pane" id="filter">
                    {{ block('media_filters')}}
                </div>
            </div>
        </div>
    </div>
{% endblock list_table_standard %}

{% block media_provider_selector %}
<div class="rz-media-provider-selector{% if app.request.isxmlhttprequest %} rz-media-provider-selector-modal{% endif %}">
    <ul class="nav nav-pills tabdrop">
    {% set providers = media_pool.getProviderNamesByContext(persistent_parameters.context) %}
    {% if providers|length > 1 %}
        {% if not persistent_parameters.provider %}
            <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
        {% else %}
            <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
        {% endif %}

        {% for provider_name in providers %}
            {% if persistent_parameters.provider == provider_name%}
                <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock media_provider_selector %}

{% block media_action_buttons %}
    <div class="row-fluid admin-action-buttons">
        <div class="span12">
            <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                {% include 'SonataAdminBundle:Button:filter_button.html.twig' %}
                {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
            </div>
            <div class="btn-group visible-phone visible-tablet hidden-desktop  pull-right">
                <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                <ul class="dropdown-menu">
                    {% include 'SonataAdminBundle:Button:filter_button_mobile.html.twig' %}
                    {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
{% endblock media_action_buttons %}


{% block media_filters %}
 {% if admin.datagrid.filters %}
     <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }} form-vertical form-bordered" action="{{ admin.generateUrl('list') }}" method="GET">
         {% for filter in admin.datagrid.filters %}
             <div class="control-group formSepH_pa formSepV_pc" id="filter_{{ filter.name }}_row">
                 <div class="row-fluid">
                     <div class="span3">
                         <label class="control-label">{{ admin.trans(filter.label) }}</label>
                     </div>
                     <div class="span3">
                         <div class="controls">
                             {{ form_widget(form.children[filter.formName].children['type']) }}
                         </div>
                     </div>
                     <div class="span6">
                         <div class="controls">
                             {{ form_widget(form.children[filter.formName].children['value']) }}
                         </div>
                     </div>
                 </div>
             </div>
         {% endfor %}

         <input type="hidden" name="filter[_page]" id="filter__page" value="1" />
         {% set foo = form.children['_page'].setRendered() %}
         {{ form_rest(form) }}
         <div class="form-actions">
             <a class="btn btn-primary pull-right rz-admin-filter-reset-button" href="{{ admin.generateUrl('list') }}"><i class="icon-undo"></i> {{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
             <button type="submit" class="btn btn-primary pull-right" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}"><i class="icon-search"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>
         </div>
     </form>
 {% endif %}
{% endblock media_filters %}
