{% extends 'RzAdminBundle:CRUD:base_list_masonry.html.twig' %}


{% block actions %}{% endblock %}
{% block preview %}{% endblock %}
{% block list_filters_standard %}{% endblock list_filters_standard %}

{% block list_table_standard %}
    {{ block('media_filters') }}
    <div class="tabbable tabbable-bordered admin-media-context">
        <ul class="nav nav-tabs tabdrop">
            {% for name, context in media_pool.contexts %}
                {% if context.providers|length == 0 %}
                    {% set urlParams = {'context' : name } %}
                {% else %}
                    {% set urlParams = {'context' : name, 'provider' : context.providers[0] } %}
                {% endif %}

                {% if name == persistent_parameters.context %}
                    <li class="active"><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="tab-content">
            <div class="row-fluid admin-action-buttons">
                {{ block('media_provider_selector') }}
                {% if not app.request.isxmlhttprequest %}
                <div class="span6">
                    {{ block('media_action_buttons') }}
                </div>
                {% endif %}
            </div>
            {{ parent() }}
        </div>
    </div>
{% endblock list_table_standard %}

{% block media_provider_selector %}
<div class="{% if not app.request.isxmlhttprequest %}span6{% else %}span12{% endif %}">
    <ul class="nav nav-pills tabdrop">
    {% set providers = media_pool.getProviderNamesByContext(persistent_parameters.context) %}
    {% if providers|length > 1 %}
        {% if not persistent_parameters.provider %}
            <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
        {% else %}
            <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
        {% endif %}

        {% for provider_name in providers %}
            {% if persistent_parameters.provider == provider_name%}
                <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% else %}
                <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
    </ul>
</div>
{% endblock media_provider_selector %}

{% block media_action_buttons %}
    <div class="row-fluid admin-action-buttons">
        <div class="span12">
            <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                {% include 'SonataAdminBundle:Button:filter_button.html.twig' %}
                {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
            </div>
            <div class="btn-group visible-phone visible-tablet hidden-desktop  pull-right">
                <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                <ul class="dropdown-menu">
                    {% include 'SonataAdminBundle:Button:filter_button_mobile.html.twig' %}
                    {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
{% endblock media_action_buttons %}


{% block media_filters %}
 {% if admin.datagrid.filters %}
     <div class="collapse admin-filter{% if app.request.isxmlhttprequest %} admin-filter-ajax{% else %} in{% endif %}" id="admin-filter">
         <div class="row-fluid">
             <div class="span12 admin-filter-content sonata-ba-filter">
                 <div class="widget-title">
                    <span class="icon">
                        <i class="micon-search"></i>
                    </span>
                     {# TODO: add label to configuration #}
                     <h5>Filter</h5>
                     <a {% if app.request.isxmlhttprequest %}class="admin-ajax-ignore-event" {% endif %}href="#rz-page-slider-modal" data-toggle="collapse" data-target="#admin-filter"><i class="icon-remove-sign icon-large"></i></a>
                 </div>
                 <div class="widget-content nopadding">
                     <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET">
                         {% for filter in admin.datagrid.filters %}
                             <div class="control-group formSepH_pa formSepV_pc" id="filter_{{ filter.name }}_row">
                                 <div class="row-fluid">
                                     <div class="span3">
                                         <label class="control-label">{{ admin.trans(filter.label) }}</label>
                                     </div>
                                     <div class="span3">
                                         <div class="controls">
                                             {{ form_widget(form.children[filter.formName].children['type']) }}
                                         </div>
                                     </div>
                                     <div class="span6">
                                         <div class="controls">
                                             {{ form_widget(form.children[filter.formName].children['value']) }}
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         {% endfor %}

                         <input type="hidden" name="filter[_page]" id="filter__page" value="1" />
                         {% set foo = form.children['_page'].setRendered() %}
                         {{ form_rest(form) }}
                         <div class="form-actions formSepH_pa formSepV_pc">
                             <a class="btn btn-danger pull-right" href="{{ admin.generateUrl('list') }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                             <input type="submit" class="btn btn-success pull-right sepV_a" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}" value="{{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}" />
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 {% endif %}
{% endblock media_filters %}
