{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% block sonata_stylesheet_block %}
    {{ parent() }}
    <link href="{{ asset('bundles/rzmedia/css/rz-media.css') }}" rel="stylesheet"/>
{% endblock sonata_stylesheet_block %}

{% block actions %}
    <div class="row-fluid admin-action-buttons">
        <div class="span12">
            <div class="sonata-actions btn-group hidden-phone hidden-tablet visible-desktop pull-right">
                {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
                {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
            </div>
            <div class="btn-group visible-phone visible-tablet hidden-desktop  pull-right">
                <button class="btn btn-primary admin-actions admin-actions-group">Select an action to perform</button>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle admin-actions"><i class=" icon-chevron-down"></i></button>
                <ul class="dropdown-menu">
                    {% include 'SonataAdminBundle:Button:create_button_mobile.html.twig' %}
                    {% include 'SonataAdminBundle:Button:list_button_mobile.html.twig' %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block side_menu %}{% endblock %}

{% block show_content %}
    <div class="row-fluid">
        <div class="offset3 span6">

            <div class="row-fluid">
                <div class="span12">
                    <h2>{{ media.name }} ({{ format }})</h2>
                    <h3>{{ 'title.media_preview'|trans({}, 'SonataMediaBundle') }}</h3>
                </div>
                {% media media, format  with {'class': 'img-polaroid span12'} %}
                <div class="span12">
                    <table class="table table-bordered rz-media-show-info">
                    <tr>
                        <th colspan="2">{{ 'title.informations'|trans({}, 'SonataMediaBundle') }}</th>
                    </tr>
                    {% if pixlr and pixlr.isEditable(media) %}
                        <tr>
                            <td></td>
                            <td><a class="btn" href="{{ path('sonata_media_pixlr_open_editor', {'id': media|sonata_urlsafeid }) }}">{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}</a></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>{{ media.size }}</td>
                    <tr>
                    <tr>
                        <td>{{ 'label.width'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>{{ media.width }}</td>
                    <tr>
                    <tr>
                        <td>{{ 'label.height'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>{{ media.height }}</td>
                    <tr>
                    <tr>
                        <td>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>{{ media.contenttype }}</td>
                    <tr>
                    <tr>
                        <td>{{ 'label.copyright'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>{{ media.copyright }}</td>
                    <tr>
                    <tr>
                        <td>{{ 'label.author_name'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>{{ media.authorname }}</td>
                    <tr>
                    <tr>
                        <td>{{ 'label.cdn'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>
                            {% if media.cdnisflushable %}
                                {{ 'label.to_be_flushed'|trans({}, 'SonataMediaBundle') }}
                            {% else %}
                                {{ 'label.flushed_at'|trans({}, 'SonataMediaBundle') }}
                                {{ media.cdnflushat|date }}
                            {% endif %}
                        </td>
                    <tr>
                    <tr>
                        <td>{{ 'label.protected_download_url'|trans({}, 'SonataMediaBundle') }}</td>
                        <td>
                            <div class="row-fluid">
                                <div class="span12">
                                    <input type="text" value="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}" class="span12 muted"/>
                                </div>
                                <div class="span12 sepH_a">
                                    <a class="btn" href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}">{{ 'link.test_protected_url'|trans({}, 'SonataMediaBundle') }}</a>
                                </div>
                                <div class="span12">
                                    <p><span class="label label-important">{{ 'label.protected_download_url_notice'|trans({}, 'SonataMediaBundle') }}</span> {{ security.description }}</p>
                                </div>
                            </div>
                        </td>
                    <tr>

                    <tr>
                        <td>{{ 'label.public_url'|trans({}, 'SonataMediaBundle') }}</td>
                        <td><input type="text" value="{% path media, format %}" class="span12"/></td>
                    <tr>
                </table>
                </div>
                <div class="span12">
                    <table class="table table-bordered rz-media-show-format">
                        <tr>
                            <th colspan="2">{{ 'title.formats'|trans({}, 'SonataMediaBundle') }}</th>
                        </tr>
                        <tr>
                            <td class="span3">
                                <a href="{{ admin.generateUrl('view', { 'id' : media|sonata_urlsafeid , 'format' : 'reference'}) }}">reference</a>
                            </td>
                            <td class="span9">
                                <input type="text" value="{% path media, 'reference' %}"  class="span12" />
                            </td>
                        </tr>

                        {% for name, format in formats %}
                            <tr>
                                <td class="span3">
                                    <a href="{{ admin.generateUrl('view', { 'id' : media|sonata_urlsafeid , 'format' : name}) }}">{{ name }}</a>
                                </td>
                                <td class="span9">
                                    <input type="text" value="{% path media, name %}"  class="span12"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
