<div class="row-fluid">
    <div class="span12">
    <h1>{{ 'gallery'|trans({}, 'RzMediaBundle') }}</h1>
    </div>
</div>

<div class="masonry-container">
    <div class="masonry-gallery" data-masonry-options="{ 'isFitWidth': true, 'itemSelector': '.gallery-item', 'gutter': 10 }">
        {% for gallery in pager.getCurrentPageResults() %}
            <div class="gallery-item">
                <a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">
                    {% thumbnail gallery.image, 'reference' with {'style':'width:380px;', 'height': 'auto'} %}
                </a>
                <div class="item_description">
                    <a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}"><span>{{ gallery.name }}</span></a><br>
                    {% if gallery.abstract %}
                        <p>{{ gallery.abstract }}</p>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    </div>

    {% if pager.haveToPaginate() %}
        <div class="pagination">
            <ul>
                {#{% if pager.page > 2  %}#}
                {#<li><a href="{{ path('rz_media_gallery_index_page', {'page':1}) }}" title="first">&laquo;&laquo;</a></li>#}
                {#{% endif %}#}

                {#{% if pager.page != pager.previouspage %}#}
                {#<li><a href="{{ path('rz_media_gallery_index_page', {'page':pager.previouspage}) }}" title="previous">&laquo;</a></li>#}
                {#{% endif %}#}

                {#&#123;&#35; Set the number of pages to display in the pager &#35;&#125;#}

                {#{{ dump(pager) }}#}
                {#{% for page in pager.getLinks() %}#}
                {#{% if page == pager.page %}#}
                {#<li class="active"><a href="{{ path('rz_media_gallery_index_page', {'page':page}) }}">{{ page }}</a></li>#}
                {#{% else %}#}
                {#<li><a href="{{ path('rz_media_gallery_index_page', {'page':page}) }}">{{ page }}</a></li>#}
                {#{% endif %}#}
                {#{% endfor %}#}

                {#{% if pager.page != pager.nextpage %}#}
                {#<li><a href="{{ path('rz_media_gallery_index_page', {'page':pager.nextpage}) }}" title="next">&rsaquo;</a></li>#}
                {#{% endif %}#}

                {#{% if pager.page !=pager.lastpage and pager.lastpage != pager.nextpage %}#}
                {#<li><a href="{{ path('rz_media_gallery_index_page', {'page':pager.lastpage}) }}" title="last">&raquo;&raquo;</a></li>#}
                {#{% endif %}#}
                <li><a href="{% if pager.hasPreviousPage %}{{ path('rz_media_gallery_index_page', {'page':pager.previousPage}) }}{% else %}#{% endif %}" class="icon-angle-left"> </a></li>
                <li><a href="{% if pager.hasNextPage %}{{ path('rz_media_gallery_index_page', {'page':pager.nextPage}) }}{% else %}#{% endif %}" class="icon-angle-right"></a></li>
            </ul>
        </div>
    {% endif %}
</div>
<script>
    jQuery(document).ready(function() {

            $(".masonry-gallery").imagesLoaded(function(){
                $(".masonry-gallery").masonry({
                    'isFitWidth': true,
                    'itemSelector': '.gallery-item',
                    'gutter': 10
                });
            });
    });
</script>
